{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/login.css" />
<style>
.signin_success{
font-size: 12px !important;
display: block;
padding: 4px 5px 4px 25px;
margin: 0 0 3px 0;
border: 1px solid green;
color: green;
background: #FFC url({% admin_media_prefix %}img/admin/icon_success.gif) 5px .3em no-repeat;
}
</style>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Signin Page' %}{% endblock %}

{% comment %}
{% block userlinks %}

{% endblock %}
{% endcomment %}
{% block branding %}
<h1 id="site-name">{{ title }}</h1>
{% endblock %}


{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<p class="errornote">
    {{ form.non_field_errors|first }}
</p>
{% endif %}

{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <center><h1>{{ course }}</h1></center>
  <br />
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.first_name.errors }}{% endif %}
    <label for="id_first_name" class="required">{% trans 'First Name:' %}</label> {{ form.first_name }}
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.last_name.errors }}{% endif %}
    <label for="id_last_name" class="required">{% trans 'Last Name:' %}</label> {{ form.last_name }}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Sign in' %}" />
  </div>
  {% if form.win %}
  <br /><br />
  <p class="signin_success">Sign In Successful!</p>
  {% endif %}
  <br />
  <a href="../../leave/">Leave</a>
</form>

<script type="text/javascript">
document.getElementById('id_first_name').focus();
</script>
</div>
{% endblock %}
