{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/static/css/login.css" />{% endblock %}

{% block title %}{{ title }} | {% trans 'Signin Page' %}{% endblock %}

{% comment %}
{% block userlinks %}

{% endblock %}
{% endcomment %}
{% block branding %}
<h1 id="site-name">{{ title }}</h1>
{% endblock %}


{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.first_name.errors }}{% endif %}
    <label for="id_first_name" class="required">{% trans 'First Name:' %}</label> {{ form.first_name }}
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.last_name.errors }}{% endif %}
    <label for="id_last_name" class="required">{% trans 'Last Name:' %}</label> {{ form.last_name }}
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Sign in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_first_name').focus();
</script>
</div>
{% endblock %}
