{% extends "base.html" %}
{% block pagetitle %}Registration{% endblock %}
{% block title %}Create an account{% endblock %}

{% block primary %}
      <form action="." method="post">
	{% csrf_token %}
	<table border="0" align="center">
	  <tr>
	    <th>First name: </th>
	    <td>{{ form.first_name }}</td>
	    <td><font color="red">{{ form.first_name.errors }}</font></td>
	  </tr>
	  <tr>
	    <th>Last name: </th>
	    <td>{{ form.last_name }}</td>
            </td><font color="red">{{ form.last_name.errors }}</font></td>
          </tr>
	  <tr>
	    <th>Username: </th>
	    <td>{{ form.username }}</td>
	    <td><font color="red">{{ form.username.errors }}</font></td>
	  </tr>
	  <tr>
	    <th>Password: </th>
	    <td>{{ form.password1 }}</td>
	    <td><font color="red">{{ form.password1.errors }}</font></td>
	  </tr>
	  <tr>
	    <th>Password Confirmation: </th>
	    <td>{{ form.password2 }}</td>
	    <td><font color="red">{{ form.password2.errors }}</font></td>
	  </tr>
	</table>
        <input type="submit" value="Create the account" />
	</form>
<script type="text/javascript">
document.getElementById("id_first_name").focus();
</script>
{% url si.views.index as home %}
        <a href="{{ home }}">[Back]</a>
{% endblock %}
